.pages {
    width:100%;
    height: calc(100% - 5rem);
    position: absolute;
    top:5rem;
    left:0;
}
.pages div {
    display: none;
}
.activepage {
    display: block !important;
}

#signup {
    background-color: rgba(255, 255, 255, 0.53);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    z-index: 1000000;
}
#signupdialog {
    width: 30rem;
    height: 35rem;
    background-color: white;
    position: fixed;
    left: calc(50% - 15rem);
    top: calc(50% - 17.5rem);
    border: 3px solid black!important;
    overflow: hidden;
}
#signin_part, #signup_part {
    position: relative;
    width: 30rem;
    height: 35rem;
}
#signupdialog p {
    width:9rem;
    height: 3rem;
    position: absolute;
    left:1.75rem;
    top: -0.75rem;
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
}
#signupdialog h2 {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    width: calc(100% - 3.5rem);
    left:1.75rem;
    top:2.5rem;
}

.box {
    width: calc(100% - 4rem);
    height: 5rem;
    position: absolute;
    top:15rem;
    left: 1.75rem;
}

.box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  .box p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .box .inputBox {
    position: relative;
  }
  
  .box .inputBox input {
    width: 100%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
    
  }
  
  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
  }
  
  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label,
  .box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #1a73e8;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .box .inputBox input:focus {
    outline: none;
    border: 2px solid #1a73e8;
  }
  .box button {
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
    font-family: 'Quicksand', sans-serif;
  }
  
  .box button:hover {
    background-color: #287ae6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
    color: white !important;
  }            


  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label,
  .box .inputBox input:not([value=""]) ~ label {
      top: -1.125rem;
      left: 10px;
      color: #1a73e8;
      font-size: 0.75rem;
      background-color: white;
      height: 10px;
      padding-left: 5px;
      padding-right: 5px;
  }
  .box .inputBox input:focus {
      outline: none;
      border: 2px solid #1a73e8;
  }

  .forgot {
    margin-top: -20px;
  }
  #stepzero {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left: 0.6rem;
    top: 12.5rem;
    font-size: 1.1rem;
  }
  #downloadconnect {
    width: 15rem;
    height: 4rem;
    position: absolute;
    left: calc(50% - 7.5rem);
    top: 25rem;
    background-color: #1a73e8;
    border: none;
    border-radius: 2rem;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }

  .forgot button {
    float: left;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: left;
    border: 0;
    top: 0.55rem;
    font-family: 'Quicksand', sans-serif
  }