#profile {
    width:38rem;
    height:100%;
    background-color:white;
    position: absolute;
    left: 76rem;
    top:0;
    display: block;
}
#profile h1 {
    font-family: 'Inter', sans-serif;
    position: absolute;
    left:1.5rem;
    top:0.5rem;
}
#profile h2 {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left:1.5rem;
    top:3.5rem;
}
#dancercardname {
    font-weight: bolder;
    position: absolute !important;
    left: 0 !important;
    width: 100%;
    top:22rem !important;
    text-align: center;
    display: block;
}
#profileskin {
    width:10rem;
    height: 10rem;
    position: absolute;
    left: calc(50% - 5rem);
    top:12rem;  
    background-repeat: no-repeat;
    background-size: contain; 
    display: block;
}
#profileavatar {
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 1rem;
    top:1rem;
    display: block;
}
#profile div[type="stats"]{
    width: 15rem;
    height: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    position: absolute;
    left:calc(50% - 7.5rem);
    top:28rem;
    display: block;
}
#profile div[type="stats"] div{
    width: 15rem;
    height: 5rem;
    background-color: white;
    position: relative;
    display: block;
}
#profile div[type="stats"] h2{
    position: absolute;
    left: 15;
    top:-10
}
#profile div[type="stats"] h1{
    position: absolute;
    left: 15;
    top:20;
    font-size: xx-large;
}